$logo-font: "Roboto", sans-serif;
$main-font: "Arial", sans-serif;
$primary-color: #2277ff;
$second-color: #fff;
$tertiary-color: #000;
$background-color: #000;
$background-color-2: #c8c8c8;
$text-color: #fff;
$text-color-2: #000;

/* Footer content layout and styling */
.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    background-color: $background-color-2;
    font-family: $main-font;
    color: $text-color;
    padding: 1em 0; /* Space around footer content */
}

/* Footer text styling */
.footer-content p {
    margin: 10px 0; /* Space around text */
    font-size: 1rem;
    color: $tertiary-color;
}

/* Social icons container layout */
.social-icons {
    display: flex;
    gap: 15px; /* Space between social icons */
    margin-top: 0.5em; /* Space above the icons */
    font-size: 1.5rem; /* Icon size */
}

/* Icon links styling */
.social-icons a {
    color: $tertiary-color;
    font-size: 1em;
    transition: color 0.3s; /* Smooth hover effect */
}

/* Hover effect for social icons */
.social-icons a:hover {
    color: $primary-color; /* Change color on hover */
}
